/* 노멀라이징 */
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 라이브러리 */
.cell {
  float: left;
}
.cell-r {
  float: right;
}
.row::after {
  display: block;
  clear: both;
  content: "";
}
/* 스타일 */
.wrap{
  position: relative;
}
.top-bar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index:9999;  
}
/* 1번쨰 단락) logo-box 시작 */
.logo-box {
  width: 100px;
  height: 70px;
  margin-left: 20px;
}
.logo-box > .logo {
  width: 100%;
  height: 100%;
  position: relative;
}
.logo-box > .logo > img {
  width: 83px;
  height: 83px;
  position: absolute;
  top: 0px;
  left: 0;
}
.logo-box > .shop {
  margin-top: 35px;
  font-size: 19px;
  font-weight: bold;
}
.logo-box > .btn {
  position: fixed;
  width: 350px;
  height: 85%;
  left: 0px;
  top: 0px;
  padding: 20px;
  padding-top: 145px;  
}
.logo-box > .btn > .icon-btn {
  cursor: pointer;
}
.logo-box > .btn > .icon-btn > .line {
  width: 25px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 4px;
}
/*1번쨰 단락) logo-box 끝*/
/*1번쨰 단락) icon-box 시작*/
.icon-box { 
  height: 70px;
}
.icon-box > .icon > ul > li > img {
  width: 26px;
  height: 26px;
  margin-right: 30px;
  margin-top: 20px;
}
/*1번쨰 단락) icon-box 끝*/
/*1번쨰 단락) manu-box 시작*/
.logo-box > .btn > .nav {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
.logo-box > .btn:hover > .nav {
  opacity: 1;
  visibility: visible;  
  background-color: white;
  border-radius: 0 0 200px 0;
}
.btn > .nav > .manu-box > ul > li {
  padding-bottom: 30px;
}
.btn > .nav > .manu-box > ul > li > a {
  font-size: 24px;
}
.btn > .nav > .manu-box > ul > li > ul > li {
  padding-top: 10px;
}
.btn > .nav > .manu-box > ul > li > ul > li > a {
  font-size: 17px;
}
/*1번쨰 단락) manu-box 끝*/
/*2번쨰 단락) 베너 시작 */
.banner {
  width: 100%;
}
.main-banner{
  width: 100%;
}
.banner > .main-banner  .main {
  width: 100%;
}
.banner > .main-banner   .main > .img-box{
  width: 100%;
  height: 980px;
  position: relative;
}
.banner > .main-banner   .main > .overlay-box{
  position: absolute;
  bottom: 100px;
  margin-left: 130px;
}
.banner > .main-banner   .main > .overlay-box > h2{
  font-size: 65px;
  font-weight: 500;
  line-height: 1.2;
}
.banner > .main-banner   .main > .overlay-box > p{
  font-size: 16px;
  margin-top: 20px;
  color: #000;
  font-weight: 600;
}
.banner > .main-banner   .main > .overlay-box > a{
  font-size: 14px;
  margin-top: 35px;
  color: #000;
  font-weight: bold;
  display: inline-block;
  border: solid 1px #000;
  padding: 15px 35px;
  border-radius: 30px;
  line-height: 1;
  transition: .5s;
}
.banner2-wrap{
  width: 100%;
  height: 700px;  
  position: relative;
}
.banner2-wrap .banner2{ 
  width: 100%;
}
.banner2-wrap > .banner2 >.banner2-img{
  width: 100%;  
  height: 700px;
  /* object-fit: cover;   */
}
.banner2-wrap > .overlay-box{
  width: 750px;
  height: 700px;
  position: absolute;
  background-color: white;
  top: 0px;
  left: 1090px;
}
.banner2-wrap > .overlay-box > h4 {
  padding-left: 120px;
  padding-top: 200px;
  color: #c88d61;
}
.banner2-wrap > .overlay-box > h3{
  padding-left: 120px;
  padding-top: 10px;
  color: #000;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
}
.banner2-wrap > .overlay-box > p{
  padding-left: 120px;
  padding-top: 20px;  
  padding-bottom: 30px;
  color: #000;
  font-size: 15px;
  font-weight: 300;  
}
.banner2-wrap > .overlay-box > a{
  padding-left: 120px;
  padding-top: 20px;  
  display: inline-block;
  color: #000;
  font-size: 16px;
}
/*2번쨰 단락) 베너 끝 */
/*3번쨰 단락) 프레스바 시작 */
.presbar-wrap{
  width: 100%;
  height: 718px;
  background-image: url(https://snpmall.net/web/upload/snp/main/paper_bg_t.png); 
  background-position: center;
  padding-top: 130px;
  padding-bottom: 130px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
.presbar-con{
  width: 440px;
  height: 450px;
  padding-left: 10px;
  position: relative; 
  }
.presbar-con > .title{
  text-align: left;
  width: 330px;
  position: absolute;
  top: 180px;
  padding-left: 110px;
}
.presbar-con > .title > h4{
  font-size: 45px;
  color: #000;
  font-weight: 400;
  padding-bottom: 10px; 
}
.presbar-con > .title > p{
  font-size: 18px;
  color: #000;
}
.presbar-wrap > .slide-box-wrap{
  width: 1453px;
  height: 450px;
}
.presbar-wrap > .slide-box-wrap .slide-box > .img-box{
  width: 80%;
  height: 280px;
  padding-left: 50px;
  padding-bottom: 180px;
}

.presbar-wrap > .slide-box-wrap .slide-box  > .img-box > img{
  width: 100%;
  border-radius: 20px;
}
.presbar-wrap> .slide-box-wrap .slide-box  > .txt-box{
  text-align: center;
  font-size: 21px!important;
  color: #000;
  font-weight: 600;
}
/*3번쨰 단락) 프레스바 끝 */
/*4번쨰 단락) 스크롤 시작 */
.scroll-wrap{
  width: 100%;
  height: 2907px;
}
.scroll-wrap > .left-box{
  width: 50%;
  height: 2907PX;
  padding: 0   0  0 20PX;
  box-sizing: border-box;  
}
.scroll-wrap > .left-box > .setion{
  width: 100%;
  height: 969px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scroll-wrap > .left-box > .setion > .title{
  width: 100%;
  text-align: center;
  font-size: 45px;
  margin-bottom: 70px;
}
.scroll-wrap > .left-box > .setion > .title > p{
  font-size: 18px;
  padding-top: 5px;
}
.scroll-wrap > .left-box > .setion > .img-box{
  margin: 0 auto;
}
.scroll-wrap > .left-box > .setion > .more{
  margin-top: 85px;
  text-align: center;
}
.scroll-wrap > .left-box > .setion > .more > a{  
  font-size: 16px;
  color: #000;  
}
.scroll-wrap > .right-box{
  width: 50%;
  position: relative;
  top: 0;
}
.scroll-wrap > .right-box > .img-box > img{
  height: 969px;
}
/*4번쨰 단락) 스크롤 끝 */
/*5번쨰 단락) 아이패치 시작 */
.eyepatch-wrap{
  width: 100%;
  height: 969px;
}
.eyepatch-wrap > .left{
  width: 50%;
  height: 969px;
}
.eyepatch-wrap > .left > img{
  width: 100%;
  height: 969px;
}
.eyepatch-wrap > .right{
  height: 100%;
  width: 50%;
  background-color: #f7f6f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 0 0 20% 0;
}
.eyepatch-wrap > .right > .title > h2{
  font-size: 42px;
  color: #000;
  line-height: 1;
  margin-bottom: 30px;
}
.eyepatch-wrap > .right > .title > p{
  font-size: 17px;
  color: #000;
  margin-bottom: 80px;
}
.eyepatch-wrap > .right > ul {
  display: flex;
  justify-content: center;
}
.eyepatch-wrap > .right > ul > li {
  margin: 0 50px;
  position: relative;
  cursor: pointer;
}
.eyepatch-wrap > .right > ul > li > img{
  position: relative;
  transition: .5s;
  width: 100%;
}
.eyepatch-wrap > .right > ul > li > img:hover {
  position: relative;
  width: 110%;
}
.eyepatch-wrap > .right > ul > li > p {
  display: block;
  color: #000;
  margin-top: 20px;
  font-size: 17px;
}
/*5번쨰 단락) 아이패치 끝 */
/*6번쨰 단락) 인스타그램 시작 */
.instagram-wrap{
  width: 100%;
  background: #fff;
  border-radius: 0 0 0 20%; 
}
.instagram-wrap > .inst-title{
  width: calc(100% - 40px);
  font-size: 50px;
  color: #000;
  padding-top: 100px;
}
.instagram-wrap > .inst-title > h3{
  font-weight: 500;
  padding-left: 110px;
}

.instagram-wrap > .inst-imgs{  
  display: flex;
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 90%;
}
.instagram-wrap >.inst-imgs .img-box{
  width: 90%;
  padding-left: 20px;
}

.instagram-wrap >.inst-imgs .img-box > img{
  width: 100%;
  padding-left: 10;
}
/*6번쨰 단락) 인스타그램 끝 */
